* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.woff2 binary
*.ttf binary
# Keep upstream font licenses verbatim, including their trailing spaces.
public/fonts/*-OFL.txt -whitespace
